# {{ ansible_managed }}

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# __postgresql_default_hba default lines
{% for item in  postgresql_default_hba|default(__postgresql_default_hba) -%}
{{ item }}
{% endfor -%}
#
# postgresql_hba lines starts here
#
{% for item in postgresql_hba -%}
{{ item }}
{% endfor -%}